# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# C source files
[*.{c,h}]
indent_style = space
indent_size = 4

# Makefiles require tab indentation
[Makefile]
indent_style = tab

# Meson build files
[meson.build]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Config files
[*.{json,yml,yaml}]
indent_style = space
indent_size = 2
